body{
    background: #efefee;
    
}
.contener{

    background: #d4cfcf;
    height:50px;
    padding: 1%;
}

ul li { 
    display:inline;
    margin: 13%;
    text-decoration:none;


}
.code100 h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
    
}
mark{
    background: green;
}
.js{
    background: #d4cd6c;
    height:350px;
}
.code100 h1 {
    text-align: center;
    text-decoration:sandybrown;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;

